*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem 5rem;
  background-size: cover;
  color: #f6f3ed;
  background: -webkit-gradient(linear, left top, left bottom, from(#2c3e50), to(#2980b9));
  background: linear-gradient(to bottom, #2c3e50, #2980b9);
}

body::-webkit-scrollbar {
  width: .3rem;
}

body::-webkit-scrollbar-track {
  background: #2c3e50;
}

body::-webkit-scrollbar-thumb {
  background: #2980b9;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  display: block;
  color: #f6f3ed;
  text-transform: uppercase;
  position: relative;
  padding-left: 1rem;
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 2.5rem;
  -webkit-animation: moveInTop 1s ease-in-out;
          animation: moveInTop 1s ease-in-out;
}

.heading-primary--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1.85rem;
  -webkit-animation: moveInTop 1s ease-in-out;
          animation: moveInTop 1s ease-in-out;
}

.heading-primary::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  -webkit-animation: moveInLeft 1s ease-in-out;
          animation: moveInLeft 1s ease-in-out;
  background-color: #f6f3ed;
}

.heading-secondary {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .2rem;
  padding: 2rem;
}

.heading-tertiary {
  font-size: 2rem;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  75% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  75% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20rem);
            transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20rem);
            transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(4, 49, 82, 0.6)), to(rgba(4, 29, 46, 0.7))), url(../../img/header_keyboard.jpg);
  background-image: linear-gradient(to left, rgba(4, 49, 82, 0.6), rgba(4, 29, 46, 0.7)), url(../../img/header_keyboard.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__text-box {
  width: 50%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #f6f3ed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 2rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  font-size: 1.6rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  list-style: none;
}

.footer__link:link, .footer__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem;
  color: inherit;
}

.footer__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  position: fixed;
  height: 6.5rem;
  width: 6.5rem;
  top: 3rem;
  right: 6rem;
  z-index: 200;
  background-color: transparent;
  -webkit-animation: moveInRight .6s ease-in-out;
          animation: moveInRight .6s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  position: fixed;
  width: 6rem;
  height: 6rem;
  top: 3rem;
  right: 6rem;
  background-color: transparent;
  z-index: 100;
}

.navigation__nav {
  height: 0;
  position: fixed;
  right: 5rem;
  z-index: 150;
  width: 6rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.navigation__list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.navigation__item {
  padding: 2rem;
  margin: 0 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin-right: 2rem;
}

.navigation__link:hover, .navigation__link:active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}

.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  opacity: 1;
  height: 95vh;
}

.navigation__icon {
  position: relative;
  margin-top: 3.25rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: white;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1.2rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1.2rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.technology__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__box {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
}

.projects__card {
  position: relative;
  max-width: 35rem;
  height: 45rem;
  background-color: rgba(201, 204, 209, 0.2);
  margin: 3rem 1rem;
  padding: 2rem 1.5rem;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__image-box {
  position: relative;
  width: 30rem;
  height: 30rem;
  top: -6rem;
  z-index: 2;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}

.projects__link, .projects__link:link, .projects__link:visited {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #f6f3ed;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.projects__link span {
  display: inline-block;
  border: 1px solid #f6f3ed;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  background-color: rgba(170, 169, 173, 0.4);
}

.projects__image-box:hover .projects__link {
  opacity: 1;
}

.projects__image-box:hover .projects__image {
  -webkit-filter: blur(2px) brightness(80%);
          filter: blur(2px) brightness(80%);
}

.projects__image {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.projects__content-box {
  margin-top: -5rem;
  padding: 1rem 1.5rem;
  text-align: center;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.projects__content {
  font-size: 1.3rem;
}

.btn, .btn:link, .btn:visited {
  position: relative;
  color: #f6f3ed;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  text-align: center;
  background-color: rgba(170, 169, 173, 0.1);
  cursor: pointer;
  z-index: 10;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .1s .3s;
  transition: all .1s .3s;
}

.btn:hover {
  color: #000;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active, .btn:focus {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgba(246, 243, 237, 0.7);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
}

.btn:active::before {
  background-color: #f6f3ed;
}

.btn:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.btn--main {
  display: block;
  width: 40%;
}

.btn--second {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}

.btn--animated {
  -webkit-animation: moveInBottom .7s .3s;
          animation: moveInBottom .7s .3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.about {
  background-color: rgba(201, 204, 209, 0.1);
  border-radius: 3px;
  -webkit-clip-path: polygon(0 0, 100% 0, 84% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 84% 100%, 0 100%);
  margin: 4rem;
  width: 60%;
  padding: 2rem 10rem 2rem 3rem;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about__text {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 4rem;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  height: 20rem;
  margin: 4rem 2rem 2rem 2rem;
}

.card__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20rem;
  width: 20rem;
  -webkit-transition: all .6s ease .2s;
  transition: all .6s ease .2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.7);
}

.card__side--front {
  background-color: rgba(201, 204, 209, 0.1);
}

.card__side--back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg) scale(1.25);
          transform: rotateY(-180deg) scale(1.25);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg) scale(1.5);
          transform: rotateY(0deg) scale(1.5);
}

.card__icon {
  height: 8rem;
}

.card__heading {
  text-align: center;
  margin-top: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
}

.card__details {
  padding: 3rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: #fff;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px dotted grey;
}

.form {
  padding: 4rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.form__input {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 3px solid transparent;
  width: 100%;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid green;
}

.form__input:focus:invalid {
  border-bottom: 3px solid orangered;
}

.form__input::-webkit-input-placeholder {
  color: darkgray;
}

.form__input--textarea {
  resize: none;
  height: 10rem;
}

.form__input--textarea::-webkit-scrollbar {
  display: none;
}

.form__label {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: .8rem;
  margin-left: 2rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.social-media {
  position: fixed;
  left: 0;
  z-index: 10;
}

.social-media__list {
  padding: 0;
  -webkit-transform: translateX(-10rem);
          transform: translateX(-10rem);
}

.social-media__item {
  display: block;
  margin: .5rem 0;
  background: rgba(0, 0, 0, 0.36);
  width: 15rem;
  text-align: right;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media__item:hover {
  -webkit-transform: translateX(8rem);
          transform: translateX(8rem);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0 1rem 1rem 0;
}

.social-media__link:link, .social-media__link:visited {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 1.5rem;
  display: block;
  color: #202020;
}

.social-media__link:hover .social-media__icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.social-media__link:hover .social-media__icon--fb {
  fill: #4267B2;
}

.social-media__link:hover .social-media__icon--google {
  fill: #dd4b39;
}

.social-media__link:hover .social-media__icon--github {
  fill: #211F1F;
}

.social-media__link:hover .social-media__icon--in {
  fill: #0072b1;
}

.social-media__icon {
  width: 2em;
  height: 2rem;
  fill: #f6f3ed;
  margin-left: 1rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.7);
  position: relative;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(4, 49, 82, 0.7)), to(rgba(4, 29, 46, 0.7))), url(../../img/IMG_0449.jpeg);
  background-image: linear-gradient(to left, rgba(4, 49, 82, 0.7), rgba(4, 29, 46, 0.7)), url(../../img/IMG_0449.jpeg);
  background-size: cover;
  background-position: center;
  padding: 2rem;
}

.section-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.section-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 2rem;
  margin-bottom: 3rem;
}

.contact {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  border-radius: 4px;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.7);
}
/*# sourceMappingURL=main.css.map */