// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    display: flex;
    align-items: center;
    border-top: 2px solid $color-font-white;
    justify-content: space-between;
    padding: 2rem 2rem;
    
    &__container {
        display: flex;
        justify-content: space-between;

    }

    &__copyright {
        font-size: 1.6rem;
    }

    &__list {
        display: flex;
        text-transform: uppercase;
        list-style: none;
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            font-size: 1.4rem;
            font-weight: 400;
            padding:1rem;
            color: inherit;
        }
    }

    &__link:hover {
        transform: scale(1.1);
        box-shadow: $shadow-small;
    }
}