// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    height: 95vh;
    background-image: linear-gradient(to left, rgba(#043152, .6),rgba(#041d2e, .7)),
                      url(../../img/header_keyboard.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: $shadow-big;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

   &__text-box {
    width: 50%;
   }
}