.about {
    
    background-color: rgba(#c9ccd1, .1);
    border-radius: 3px;
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0 100%);
    margin: 4rem;
    width: 60%;
    padding: 2rem 10rem 2rem 3rem;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    
    

    &__text {
        font-size: 1.7rem;
        font-weight: 400;
        text-align: justify;
        margin-bottom: 4rem;
    
    }
}