.form {
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

    &__group:not(:last-child) {
        margin-bottom: 2rem;
       flex: 1;
       width: 100%;
    }

    &__input {
        display: block;
        font-family: inherit;
        color: inherit;
        font-size: 1.6rem;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        border: none;
        
        background-color: rgba(255,255,255,.7);
        border-bottom: 3px solid transparent;
        width: 100%;

        &:focus {
            outline: none;
            box-shadow: $shadow-small;
            border-bottom: 3px solid green;
        }

        &:focus:invalid {
            border-bottom: 3px solid orangered;
        }

        &::-webkit-input-placeholder {
            color: darkgray;
            // color: $color-grey-dark-2;
        }

        &--textarea {
            resize: none;
            height: 10rem;
         
            &::-webkit-scrollbar {
                display: none;
            }
        }
        
    }

    

    

    &__label {
        display: block;
        font-size: 1.3rem;
        font-weight: 700;
        margin-top: .8rem;
        margin-left: 2rem;
        transition: all .4s;

    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}