.social-media {
    position: fixed;
    left: 0;
    z-index: 10;
    
    &__list {
        padding: 0;
        transform: translateX(-10rem);

    }

    &__item {
        display: block;
        margin: .5rem 0;
        background: rgba(0, 0, 0, 0.36);
        width: 15rem;
        text-align: right;
        transition: all 1s;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__item:hover {
        transform: translateX(8rem);
        background: rgba(255, 255, 255, 0.6);
        border-radius: 0 1rem 1rem 0;
    
    }

    &__link {
        &:link,
        &:visited {
            font-size: 1.2rem;
            text-decoration: none;
            padding: 1.5rem;
            display: block;
            color: rgb(32, 32, 32);
    
        }
    }

    &__link:hover  &__icon {
      
        transform: rotate(360deg);
        transition: all 1s;

        &--fb { fill: #4267B2; }
        &--google { fill: #dd4b39; }
        &--github { fill: #211F1F; }
        &--in { fill: #0072b1; }

    }

    &__icon {
        width: 2em;
        height: 2rem;
        fill: $color-font-white;
        margin-left: 1rem;
    }

}