*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    scroll-behavior: smooth;

    // @include respond(tab-land) { // width < 1200?
    //     font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    // }

    // @include respond(tab-port) { // width < 900?
    //     font-size: 50%; //1 rem = 8px, 8/16 = 50%
    // }
    
    // @include respond(big-desktop) {
    //     font-size: 75%; //1rem = 12, 12/16
    // }
}
// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

body {
    box-sizing: border-box;
    padding: 3rem 5rem;
    background-size: cover;
    color: $color-font-white;
    background: linear-gradient(to bottom,  #2c3e50, #2980b9);
   
    &::-webkit-scrollbar {
        width: .3rem;
    }
    
    &::-webkit-scrollbar-track {
        background: #2c3e50  ;
    }
    &::-webkit-scrollbar-thumb {
        background: #2980b9;
    }


    @include respond(tab-port) {
        padding: 0;
    }
}