// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.container {
  display: flex;
  flex-direction: column;

}
.section-about {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  box-shadow: $shadow-big;
  position: relative;
  background-image: linear-gradient(to left, rgba(#043152, .7),rgba(#041d2e, .7)),
  url(https://urban1991.github.io/Portfolio-3.0/img/IMG_0449.jpeg);
  background-size: cover;
  background-position: center;
  padding: 2rem;
    
}
.section-stack { 
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.section-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  margin-bottom: 3rem;

}

.contact {
  align-self: center;
  width: 50%;
  border-radius: 4px;
  box-shadow: $shadow-big;

}